type hal_vehiclevendorextension_demo, domain;
type hal_vehiclevendorextension_demo_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(hal_vehiclevendorextension_demo);

hal_server_domain(hal_vehiclevendorextension_demo, hal_vehicle)

# For changing VHAL property via System Property 
get_prop(hal_vehiclevendorextension_demo, debug_prop)
